@import "./fonts";
@import "./transition";
@import "./reset";

@include keyframes(rolling) {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@include keyframes(popup-enter) {
  0% {
    top: 55%;
  }
  100% {
    top: 50%;
  }
}

@include keyframes(popup-leave){
  0% {
    top: 50%;
  }
  100% {
    top: 55%;
  }
}
