.v-dialog {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: $--z-index-dialog;
  pointer-events: none;

  &__header,
  &__footer {
    width: 100%;
    flex-shrink: 0;
  }

  &__body {
    flex: 1;
    height: 100%;
    overflow: auto;
  }

  &__wrap {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    z-index: $--z-index-overlay;
  }

  &__core {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    pointer-events: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    @include nightMode('background', #fff);
  }

  &__outer {
    pointer-events: auto;
  }
}
