$nav-height: 44px;
$nav-padding-left: 12px;
$nav-padding-top: 11px;

.v-notice-bar {
  user-select: none;
  position: relative;
  display: flex;
  align-items: center;
  height: 38px;
  padding: 0 12px;
  font-size: 13px;
  line-height: 18px;
  @include dark-elem(color, #fa8e57);
  @include dark-elem(background, #fff7f0);

  &--wrapable {
    height: auto;
    padding: 10px 12px;
    .v-notice-bar {
      &__wrap {
        height: auto;
      }
      &__content {
        position: relative;
        white-space: normal;
        word-wrap: break-word;
      }
    }
  }
  &--vertical {
    height: auto;
    padding: 0 12px;
    .v-notice-bar {
      &__wrap {
        height: 160px;
      }
      &__content {
        margin-top: 48px;
        line-height: 22px;
        position: relative;
        white-space: normal;
        word-wrap: break-word;
      }
    }
  }

  &__wrap {
    position: relative;
    display: flex;
    flex: 1;
    height: 100%;
    align-items: center;
    overflow: hidden;
  }
  &__content {
    position: absolute;
    white-space: nowrap;
    transition-timing-function: linear;
    &--ellipsis {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 100%;
    }
    &--vertical-interval {
      width: 100%;
      height: 100%;
      p {
        display: block;
        line-height: 38px;
        transition-timing-function: linear;
        height: 100%;
        width: 100%;
      }
    }
  }
}
