$loading-size: 70px;

@keyframes refresher-animation {
  0% {
    background-position-x: 0;
  }

  33% {
    background-position-x: -60px;
  }

  66% {
    background-position-x: -120px;
  }

  100% {
    background-position-x: -180px;
  }
}

.v-scroller {
  position: relative;
  height: 100%;
  overflow: hidden;
  @include nightMode('background', $--color-bg-gray);

  &__move {
    position: relative;
    width: 100%;
    height: 100%;
    will-change: transform;

    &.is-refresh-running,
    &.is-infinite-running {
      transition: 200ms transform ease-in;
    }
  }

  &__wrap {
    position: relative;
    height: 100%;
    z-index: 1;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    @include nightMode('background', #fff);

    &.is-loading {
      overflow: hidden;
    }

    &.is-hoz {
      overflow-y: hidden;
      overflow-x: auto;
      white-space: nowrap;
    }
  }

  &__body {
    position: relative;

    &.is-hoz {
      height: 100%;
      display: inline-block;
    }
  }

  &__pull {
    &__up {
      position: absolute;
      left: 0;
      right: 0;
      bottom: -$loading-size;
      height: $loading-size;
      line-height: $loading-size;
      z-index: 0;
      font-size: 14px;
      text-align: center;
      @include nightMode('color', #999999);
    }

    &__down {
      position: absolute;
      height: $loading-size;
      right: 0;
      left: 0;
      top: -$loading-size;

      &.is-default {
        left: 50%;
        right: auto;
        margin-left: -$loading-size / 2;
        width: $loading-size;
        height: $loading-size;
        background-repeat: no-repeat;
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAtAAAAC0CAMAAACKc+vLAAABcVBMVEUAAABPT09QUFBQUFBQUFBTU1NQUFDGxsZQUFBQUFDExMTExMRQUFBPT09QUFBQUFDMzMxPT0/GxsZQUFBQUFBPT09QUFBQUFBQUFBQUFBQUFDGxsZQUFBPT09QUFDDw8NQUFBQUFDExMRQUFDGxsbFxcVQUFBQUFDGxsbFxcVQUFBPT0/FxcXGxsbBwcHGxsbExMTDw8PGxsbExMTGxsbGxsZycnJ7e3tjY2OJiYmOjo7///9RUVFMTEzGxsZOTk5TU1PJycn9/f309PRXV1dbW1t0dHTLy8vOzs76+vqnp6f/xr/l5eXh4eH4+PiVlZV+fn6QkJBfX1+Li4ubm5uHh4fw8PDp6elsbGy2trZiYWF5eXlpaWnW1tbS0tLt7e1wcHCzs7OwsLC+vr7BwcGCgoLa2tqsrKxnZmagoKBkZGT39/ejo6O7u7uEhYWqqqrd3d25ubn/ycLOpJ/quLGpi4eAb227l5OTfHn2wLrdr6ghSctIAAAAO3RSTlMAKvP57Am38+VeTyIgDt7WExPWmKMZaMJL0I5YVEN5RTw0NYH5r61xbOfKh53JCu3AMD2Id+GseOtM7L/k+dUAACxuSURBVHja7NZtSgJhFIbhM+MYCpZEagZTCIFBazjQ2f+qKj92ML5/vK4lPDw/7gAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAC4Z9vD+L4NbqDb77t50NT4PfTD29djMLHVy6LvF5suaGgcKjMrP4NpPT9U/qlXj26oe6r8V8MhmNTutOxP1lF1tLOpvPgIbjPtbBk0spzlheaY2PxYeVZr0dHIal15tQt+2TuznkSaKAxDswQSlhA2IUA0JJDgT+hTVAndLRKQfd9BQFBH5//ffDQNFPi1wijQXPRzMwlDJpm3Xk+dOudUeVT8VFuXRuVXOA6sWdzCBjWKHJsruvsxVweum1prkiNotMecV4YDvqgHNeM4GVYvgSUYwOs4wM3miN1369CofOLGRgAI49Luz/Jgg00N0EfHDBTP/oBuBHHdnBqVTzhXhTijZZ+EDGzwa1SOjcNHYI3PvW8xVvVT5kajsoPVDuv6p3VP4R822C0alaPjAUpoT/ZnA8CwgKjl009oaWJ8+73cOgC1CH1KHD7YYLN8u2ixTY1PrYh84poBOKSi795S26cGaMppsmgS/m5XNZLN94walR1uGNjwXT87BBS1lXUaDN6ttdB+U7KGDSSiUdnBYd9S5+vQa7HRb3mtK/2tDrfb4bCqswc/xmp1ONxUwa1aNPHvTf7UHFqWMFBIxLr/Wzqz5TrgCTkjXrvNZLLZ7D6j36wmIf/Mjce5UHApoc/r8ofMV1q3kewP0UE9UPRq/VQuOab4DfIB2rRlaLuJwUAIAcBLgBAwOdX60b9gNRuZLQUlOfU2E+wN0VobqAF6b315TwvQ6gcKxhghhDHhiu16vd5u8gQjTBi1a3U4114QReOKc1HCOc/BSlS8faIxyIWWGIENxKg2v2UI6YDCRHetrL3y+I12HTUycHNhXJgN4t2PTK9arfYy2c7fUhEBqKPphxLVA8b13NMkUxMlrGUn3adhuZSvF8nK2EtHxyJhc1C749ntpASI2rCVxeoCGUcbLEHzbSRm0sFqZyT8s1ApD+OdTPWB/USiU+Awsatpx6ERBLenGfYzL7WP1ChdyAtNDlaZCDA2rysUuFntfo4IAQoT0KjIYTHuOtrgvjE7vTYGACRh+XarMF04OZlgv+JhVMTEp0aMwzqCeJxlv5aymu2OZn/6TQ4vkIK1zxi+0jocTgBQJ8T2c+ODLfRGn17KMRDw9VbhfdTNJB/YfaSeMUTUPHov13rAhR67h8Rj9eOu8VoSnjkspSA6k9ergy1cagL93WzAmqV4GCHg2/ny8C5Lo/I+4hzWRTUXgSEYCl3orUerkaB8jz2Qh+THU7ogNNeuxrAhdkmlUq0nfFml24B+42eEMDfPlxud3iP7b6QxmC4ijba4GCCM/yIjmAdw84P9JxLJTHzjanyJVyzMNiDgu5iU3qA1O02SmTGRvPzA/oBkCxPnBfQNtV7yVSXX4FA4KXLbCW6wPyFZSw1zAg+rIoj9NuDWnB+D2yrjZ4aIejMXcS/PfXUb0wMRdeKFwoB6+Qfc85i50igHvW8qPyzsjnpN9rCilo4S1Hpkf8xLJv7655kghIGAKRK9OW/8MASMJrvzczLnWNfG9YrvzxazS9wsxBq/kHvLJg/dA1962W78rdF42vV/ooQu4A4FHSA0/2/qkgAhRkUcTdf+bifuZu9HjcYo3slWHw5Vv9p9L7VFUxPCxMLBM2ZWYd3yelP0ixFkcqtREos5IoVmrl5oZF8OkfKxmk2Nprl8vcgRjERJi8LsLknPhQTsij98dwvyhrZ4ieL94qAOCzRA194KdR7QUki+2a/MGmJt9CBjJyfTP00sBmqd3Xme5IOOkeiudg1tAgkSUy7hdJsjpmX7lc+/d6r7D9uZ7tO0PO7PxT73J0h9sLZ0r47pf1Yh6LQwcy07dUm8yskeBjRjV/Rm8/9pibliWyjNBvFJ7zGxL7zU4rk+QQgI2Ogt5xNCFfQ55G8mMEqdVK1Ru+hmmJca2YdvRROdLIbkJoc3ogNX7OdLuVn6NTeui5/jSmb19RwGJbYd+emd3c3ihsYRxcofBiPNOO4FUcuiUCqnX8u5SqvNE7zRGPi5IAbsSe17Xye7ry0eI0x0xjOUKWlfZzfpcCk9Ku+OAGDcrIxqiW+CcjbVmI371MkYCF9vVXLD+CRTfVznc520ABjlV0H+iYBXoyxXOtnrSQYXKH9tyWKDZm3Vh2oizI1HmfXmJh5L3l4LY+F5aWzq61L6qVN7+XqhXj6meR5joj99jcGzkdBukf/cr1ECixEw7r9/GZsT1Ww8XZFar0iarOPbi4DxN/VRk+mz9NI8xlN2yaSJbQon0VH5xwCCzAW8+hRkcF5SvSpgPB89yvS9M5O7QS7fn3Mg2VoaPcg1ul9PHiQ75SKmc2UnQ2uiIVp+8zMqkc25jYC5cuYLbRZeLglNslaTexb+lAfLs8qXQSIxJKheldapjxmFW3QuQhM62e3SpFxLIgQot97KcPH+m9N3L7ucU9pskBi4dr4wTH2xpya6LQSnqQPLP8AXc8geW5SIZgYXYG4qF50faqn3yjNZW7nZH5en8ckB5aSqgEhK+icqWOErh27vWlyfYye4XEDGoXERPJAMWEA4l9hfHq11FrZutYvSokjV1Q/Z6momj0F/6l4dvf2lC8icFpV5JyQMmDQSMnWgYanNoQVS63twn6UFpH2kEUqzS16VPhVeb7a/iKzkoGAZxuEFrrvayRAfZw/ksTd5Spf6K1djXijHM/9fml4egenEu6MlRmTvFpgVORXSCyrD/xWA7mYCv5SLNFu5Qfdfxzi6BOUTrMiIgFGjIFRbEt49jV1A0U5rgqJ0JuzwSOj960DH/bTQl1YJmn/eu58Dda2FiPHEW74H1jDmnV6WYq0Vq5egT3td5q3wTJYyFfOzeO0njdleGzWr0ko1sV3RoaBbAisCGkroIh5hCDJYkGz4F6NC4icDHR+NQp1DIqQ/S+16+mOOTz0jbbHLhmiLXbFTYQBwvcpSHu5LRSzpU47XfjrHkRgj0pGsLWBlbyIb6YVouccaiJI/bh5AJcnGOYyH7L9Ck8PKHKQ1S++c7f+e/hnNEJF79NdAT4XnHiJ1ETRgKZ08LNOyfHqSZH9BGaE3ydoVpGivkFrXZ5XL8YiSE9t+wK9SViwg7o79Bb37srAM1MXX6pbVBXzqX2hhsW0cHTHI1JDOVuOi681nqAJxXmxWlf7SM8YP+YvXLd1XpOjr/jd6uWLGpvJBlBw1MUSAjKR0d47mWfZ3vEzSAkEYjWv0sxmGUw+HhWmIDm7tPUpldFr99nBMp4hw+z2bYH9Nl6Dx6lSIFR24o33C0PZIEKwgSv6wWXxQnEjCc0iosr8mmSpxGFXo6fKOo4+lnwgLzd6c2/fK6FH8rFzpUImWj1sItTLsMcgUUT0pWZtTqvltsDos2jCsiYRv/X6/U8QHaxhnOBT1mM3mwNW19txjpNd63JbM94RR6YE9Aok3HuPZJiJli/gUSbTBchMMBMxmjycaCsdgjd7lFFmofOvcGNqotbjP+DqcGVCZXfOOUTvLHoWkgIoZSdP5ecscBrc2GPCE/E6jN2a3mRiQAy/Y/QB0epMvEj1rH8AMOP8oKY9wOsEehSHgYopWm/DRf4OkRXwBQM/oAK+1o4rKoDPZ7D6v0eUMR81XN5ZTW8FDUHoTVdsI3tjjkKggsmoZnLHM4b72+CMxm15HjbsNyPDp723O6/NFk/Cm8Z1D8MQeh+QY43Fy61QY1BwTbSim+6SaHPK6Mzaf0Rk66S8wjxI8WHtwhpEYMI5DGeHR2tpwljKHNej0MdtqEo4vNtt1IT8uFXLl2Ws6/T4dDgeDQWPB4o/hcDpNp1/L5VyhNM4L4kQsBqJ3nS1KuwC/SxrlEddhj0SXxyROb3UetcZkuTUBLN8Y6rdEVReyUlVFNqrORFkreaHfnhd5jsCWt3U2o4cexU9n6KSAIM4eiyFC09VJG53j5OUwGxnpuQVxJH5cKL8PRnfdSaaXTL48PiQWfLmZLHh4fElWs3fpFocATOHz1E4N3nWRI1lH8wx7JB5KGBVOY2izT7RzOzea1JJJqqosK1WTvcxHJ/XUGL7mKkK7yRGMRFf7QrsanyLlqNZRscYei7vNdjrCp5+KNQSWrx2SduX1rZupipOAP+IxVRItbQ9ozoDFBnxnfYQWkuyxmAIq0ZSDCR4toXMBINJq/NQkiZdkrROf5gQeYwB79CRR2gwoRyM0n2GPxQe3nubocCef5rC4gGA8z91Xf3+ySo0JJkz0DJn0NfMfb1fa27YRRNGmLVKgB4qmaRK4QYsCLZD+hO5oaF62FFGibomiZN2HddiSc/bXVzJ3OTRFkW687HyJkdgxNRzOzrx584huw/udOqxVaa7PoX9PGzOUtnn92ysF0Rw+/MErWFOTAWOvZBZDhMhCTQS0DbolzasNB1zN+yp1mOOX7xXE5jQv6cgezYCxJylieARyjL1V5BXwEJRiS8SqSCtllCVA8/UXCihLSedIIWPjLm38TmlD3mAFzCz/JWtQPJhfLm5XaEO6MMezxwoYVxfyIsKqIP4P4gZ/MVyqnG1LTA4p/bgoI890JulzPP2cgZuRd5HZYRMYky9D9MN3OOOhoJY4K/8/mXpeLUZVVWrN/99KKcEcRHgGs/O3TMsODFSImiDbiDa18j2UiXBhZ1m6avz3O1Kix6PPJI2+T3bxPM5LdXK+wpDe2Cqx0xZ1hlr9FJRjpQPgbGmpEXliI9j+aTKAfnqugNn4W7KN9NSZl98+Z0bXe37MCNQuu+9PAcz/HEXZGo0TqvDAT0FLglDRJPu4UFWYfO7UEwVFWs7Bf1dZq/eAMYZQLnVDo9s+CvxklCrM8aOCTbrp0fBRNlu4tcXetMVi92U2q8a2YS3iQ6Zk3zzGmXfh2gy8r8i0ka0DMob/fYK4aAM79Y9JKRHzzc/M2+OP8fLexwthhb3t3K7GOrkwR/kLnb8rMCDoOHdcxCB7hLOBbG8Ixnik3UELmKCsd1JZWiGOvH4Wcu6tnNZgr25RLJUqldrYtu32zkzf2m17XPPGLf1JIfIOFUF5lSoT71ef3W8ZIdTOmpoKeI6FUrTjNS0mx+hduajdC4aX15Feyo88N1fWexeTf3e2c/p4vXOyN36Z9jeZSVgnsW6TVFwKuN2KeB1h6xTtYudohuYhrY9XjcBN0YUKoVVmz1OrR5/cXbgp7JfU267hjaYg0RDwcjyYRARN3sV0X/l8wnDsOehcgZpKuWOybDJ/XhydobXWejxtHMGXZmBMBNSEMjLgL48ZG0REs7Up9XS4j5u9we1sL33RDUKrXYN4EdJwuz3PU6ChlSPT1BkANK0jXBjGDUHZYWeqCPVLmNX5xAYfS891tJVnWIGDen2pIJAF2ATKHRPzce+7yqVJRHeA6a5b/KmIPe8NUCZZdCtlpHA+5nUFANfREW2V/QKmozMJp8y3XzFih5BdLF3u60gXBxkd4Bsyw1xawQaW+KXSKrmeJjxxRNn1eo+wsOh6pDBwkUIacVbsqF6iaQMPtawNqW2z/8mgogrvnLYVvqTes2ulanW5O+ham9VwOByNMrd26tnuq9Fw1epPc/Ni20FAdHLaQS1qQ6oL6y8UvOLAsd8/aytbx2CGGEefi/sbgliLhCrPdb+AGTEZWM3JIzQO4a8zExHQ6FWqy6tBa+W5mPy78/BoNByudl4eXOXm1WJlbLpciPKStmpOFUaCjtJ67Tx3kwuXUS7Km+BVc2p0GZ2bYfAmlPsqx6IU3ptU5ON2tLuGI/FoXekAaLSrrfO8VlDvP7dq7YMIS76Tydmppug/GOP0rbVgJmolhGA425lFtMsNvE0fJS2ynfXP3ByyFxJ8zPDw1g8NQMXMUQGRZGpW24uK3IpZgy16YK2HspPdHwrr8ltrgxJR+ltt8NqT6dGp4KDH6EZAuSO0OQZp0ZOo4kCnIUAghtAcWIVPgJ27Y4ZQWYT/2k5ze+zLV4znvUVTzKD6wXDWa2fHOP9aE7wDsRjxaefgDwpL8OipjLbb6US8Pweao08A8tSL04qCBLRWpWO6fynQIuh4dBjPJo/nZgzYq2VqurgZyBuIDANRI2Ja8gwnfgeg9vf391PHhdqVHrF2vWIpzgt/+g55fZwXIIdaARHN4PDSLdpaiMciOrsGZSgAPBn0/hcRCTo/A6h9Mkkp4yDUFvwYRBIAkgRzKH5H0gdYhn/7pMlxuXI3/ionVQduYxqVjQ9zaBzBS0tu63dFTHm7DmLx07eY1CkjBifhBREBIY90QO6BisqhQi+cmTnIx58pVTgW0RculH2QgxSEH3KSKKOIpf52/QEEMANxJXBfRkwf2TDHmYCPyLouePGsZ5L5SK22AojQbvglOd/Ckr5WSP23cibaZbC1h4yt1gBXh+N7+TUH+V04uwUwFzcaEKBcOk/8JIsSMBZZR0906PHc2VEk6Lx85s9/yPLOAxcS+iiEogptQgykwRxNzd9s7d11z6jM/aYM70cnLvaaRTFKtwXA37hk30l9CknLHMt5QSvTH0adOVPADGe7JUQ0VTK3OcOV3qnt2pSc40yreCcnly0gGzKo8c+xkrFw/4zhQaZoAVTUB1LX2FBsn0lWOvjyOTMsYkRbwQx1pSOP5829L5Xa3iJgSwysvpAKF5AuH5oL3s+T2z/N6ibok3ArzxgVeJLtJcOBwDfpFxfqhfteb41DSyFm1pxA7bmMhuspw6p6wBbBBxLv+v6aex+kNVikn3xOPK3TgMuKDHm9MVCPYTHxFz0XwmCP5NaihEKXxKOobB641lsEaIUHSmnIWpC2UMafQDXi4K4jvr+oiIi+HKmBMok8UYNHJzJIrmG3NC7BeSBbN++Ac+35WHrSeEliYNNgHWnZIPLzVdinVq7hHZHzaG/7E92sOFbIs1KDAnJCqMXNP5RgJ54OMstg36eFRH8llHQneuxuslXlru6rxyIa9SvNPyF7YBCTQ8Jc+Q+mnB6Obmz1gemjAhwMy+98LDdpnCg+myMTuKeTnoDhjMFBHh54lVt2TE1kFPwPvXoqBFKS0uLb/y0JQi2WAc1CGDHAtOT9v/0eHUuIzBTjdtnc1u2tKZcpKR4coUqpTp9CkA8bZRnv1PuZHfR/fd7FPsDojmk92XSOXx+BrQpv+I2RtuaYKDjB1JBtnd+OYGbOOHPdrUaLdFOyKFtp7sn+9Eo4uwg4ffCOTY+WhGN2TCX24hdcZAamsQjdbNC5bjnvjOE+s42CHteqCo9oNlXFeBMqmgSQgybJ/MEjU6sPUhEhMOaCz0klS4f89NgX1NVcEIO3iegHm2d33Ft0ho181bj5551R1o1+Nl5shiMP3ZB8vuw5YbZ9KN6pHRNpt3LFVhhDFRPoTrj7QapC5dpvn4tCowTsLFZYtKQYZePDxw+XmYY1N1p3YKUpv03QvvA3ZHM+u0p5IWX+0whhWWPRxYZXEubVU/VICxsekdddwQmsgmxBx1fMuPbvKesKtUWPLlDLhy6kapTLzs12+/Gfmw9m/DE/B1zy4iMoZisT5GhrnDEZYqUVWm133D3CtAI0o3bNioe9exEepbRscyK4MQUzaTe567y9efN6+/GD4RizcPmXcbxhTC8veDNKhtZVnkpR89TClOFIvYt8SQdQriLDed5sFvN3o38MiigXZRPuntDLH2lb86IHiJFrvlbNfbN9/fr1dntTvo5fz2KiTmri4xSaq5diuN7RYXwnH3fWCBipUJu9nUiAvjxM0rlDmGMpf+uNyKNXYj2+GT90mzpvttudv1+/N/oXhw9oGxARigVRN/nZaSzjLP/1c7CzByBHUzvwa8sFZMybC4SsUISdXQ7V8CpvSsf3S1payZDozpnLWDOyRM69e+3Zm/JRqIxEYrlvUxC+JimtId5ZTdCmZcAjhFfN5OPlwyTdwoMfmCJLaWj/o8IywkljNRYQWHN/b29ENRs+M1FZ50ONuKws8owdTI8t45BmbFW4ZiOLOPssB2//6Q7VpiWOKPnH9zPCNoLLQI3MWXTmGDgfPQ9/fFdK0uZwLOnjIOpXXjElIw6WfqDfsAVAO48SyhLN7sGrGTO0sUNel749RuDBhFe6UIz3YvPt1gvo90f0wqxMVyPBKgH35HUZgXLCDi6veyCLo24cAfFGaRVNDOTbChk1sKzC636tJw1KojKpvfjbZzJaier8ZR7Q27e9RcKAk2OtAwjqjUuT0kLjWhCu/Z5QyxmCs6acRrXXjk9pczeFkEh7eKCbUZjkl2QRajdr0MMYX0LfbLm73USCW44mCecogxL2lPmENXJKCLCfrBGFT6MGE1rbvyMVv0jNX8LsmmMHnz+T7lwRxRVg54mydcYbOgMT0HNl5f2IXBl/ktK64DIAxkRsrZi+c3GejQwQk4iu9rl6V70sGx4hsFeSR4XEtVvw6WyCx1vuGxHQppY8r/Cf4qmUJPJSOQBEN3cLvMa8LBwKeq4QOWKb+UnEyV1QtjsLNa8Sh1bnwVlhgnWMf7aiiM7cT8PHSiPTnTAOctRnwHOXVVLA3zMYZI/gYEUFfRY93yYU3KxF+KNGzCakvjmh0AY9HxujVdGybD9Q53uc+e/kfXY/O5FBl6fJN8VIjir4vgt+Bukdwx8nbaRvGmV5Yub/c186Xf6FgpuDrjBuAniz5UX0bBrfnyOHIRoO0nxT+j7hteFRi9XhLNa51JE7gH7K2Ki0Lj3TwgunmMoWFnHtNDeBF1EYv33N7V3iqwwtHcwF/5ByeJk/ih03smWgSLq2SchfKdGTGZVE6PsaPNsted0vmy7/lLoh6x7CrvXL91vh4vh+ZqRApcBHbvJnyC8YVoMyAGpLJ6cVY9NeZ0yL1cYZlfyEr0bqAMhElnhQNIiyG20NU3j7o5s4cM7Q+zsvZijjzfFPGAt3IoFBYd6mzNBcaXHP5SqQbG5Fa67EtV7r7GfJHH8Ga5Xmv/kkcnnv7VYcgscQJ2Kx1PnERuIMmXw99VA7jzHZaILwWLO/SHivX9UQIe3rehTaxJ6Nl6OVkvhOBa5kZ2NnxK5/HjqDe/SEA/FzcrYqvmIkeHiogThU0G/3JkmVqp/MEYfelMLOhjgn8mCOXp26wrPE96d82PowRyH2ZhhgNqTjdrSNrHuZYuqdgV0vQSMBcnHWHXNxIlhnaVTfCesFyCZzUJx0BAy9jm/BHd6xbOM6FuKOirs3ktOHi9frkxXWNPkeIHd5b5jM49YGotKDalBuQWvSMShNysCf+Q14Hxdn1Ka8d7XYgC6LgM4Bkz1D/uk5OoKaxE4Jv0eCLmJtMWozQBaYpgRSTzov3SHztyo6OtTiyzY/oG/KnaRiMNATLuWs2r/C8iQMwpEw/nkZCLpINqtkeBOvKQniyNVtIYmIDJGY19kkINrH7d5f1mPXmnSh8deXOLAnahLnQHNWUXaJANBsLe7Nr9uYDJBWmIoHW+8LG6VLihAMLcZu2VhnOwK1e58IQ0+4/Jq8V1J/+RwvreNUjsLUACxXrXvToLtrBcAjuF64wN/IUZH+9uyXXEKNUwsaiczhG5E04jv0OYoCdSgTmiGxw7oHQ/O6v9AajwfBC1JbE64pWPD+DEtOaqeDjBbcXtqE8JAxyl1NIFnuptBJS3gRSF8E9Ot38ZRvQogFzfgbKU+e2wj3FQE9IrXTb4XDWeOhlNc4sJcPevSs1C5a/PRT0gKiT0i8LMune3Gm2h/ulaEvXJ/6taKAlnnRC458udzDIfXWujP0NAqUOR+Kx3YuVwD99Pe+KaDF5tcyluHFS47tP0YiCbkIMKRlm+dfSlEP6V0cbE81tVh96g2vN80LbyTYCn0Dz+4VZENOeaURkLSu0CUpm2SV6IzOnfwh9risov8G65z82ffXQgCl4RyDGrVZVdt5LmfUjI26Dx63kbC5OTjo6FkquzbfMwEmdXU0OnHN6+UN93UsKY8zUfdcADGbfSJnD8GkXxv7yi7y2e1P5E2z2c7vhwPG8MjECHHKWZlE3JYncCfaoRFBmTFg/+yfHX10e2P04+JDQQ5DEMoht06aJyFfm7JZrbbLg8LSqC2XNWOqJpzYVwc5Lx1N3a8UpeM/M9CzYnrXyrs3O1d/fKsPkydePHfyrTcpAQ1tit44TU+yyWW7uizOzLxlzopz2yjWjxyIiHOuIMGe0Gkiqyts0fX28omus40P79+/NdZRjyotU0BVFblDPp77guE0ESjoVNvt0vlefqpmmuNVPLa0CiAeMe90kDScbdEbqWPfEdNx3bfv374zrmIeRspFgVrpmRzOiV04wGLb8X7sVsyevWzsas6c3S5lCsf1zIoCMpctufY7wyqNF+4h2VLv2zOnF4PWXFcYQqXuj2TZc2mXTGzolqBMlmKgDN6jZDUtqacaHgb0HNOR1P06IAPcLQM60/rxiC65TrN0DyySCzFQTygloMdqOKAT36CtatqCR5Omxs2R1z4jmi5WVoNlL6iInt9H6MS6zqtHPo6VqbqIrNIgPguh/BJnEyMaFEowytAprqwQ5kjk5swMUWnnzvKLaIcWdq7O3kuOyJjI6glp9XGthlIVZeiH2anOEcuGg99JJhj89gU283RwieC+v1Esd1vF9q2Mvl7VCLpEiUgjzbBOxVb9VEpAbxCmhwFNT6LUIi9Iy+yYiIC6ay8zkwZFdbKFI61XkNQTEjbKy7lwDS3BOoLGUm9KL0h/+Je2K+1u2oiiB+IktCmEPUAphTZpQyFlT4AzozeyFhsfy1q9SLa8xxuJl///pRon9ihVHLKM7uEjhzNcX71589agUVZgBx5oF1dyUUu7Tl4dyAA4AFEFZlSaQFhZMcf5ytVZifyEi6DdWZSDIcNd0OxO7GmhmuIBHG9sKBlmpu1rtYtrZsJcaG6TUJ7TMtdolOM7D7q1wXG4VVKBe4fefTT3M3IGHWpzXgRCrrYy+lDtKQjwEZCnOikpZDos4N+BdWd9lpR1aLc2DzRwVNDcmwrZ7gFsSiGZTMy6ckwgAFFKZdtpCn62wMzCjws5pkU/XIdd/HaKoD1Om/azleNEfc4A7iv0HiKYe/ougsoPTXSulvWFrpOnG6cAz0CsSllvilruZAEkjkw84RLyH8wbFlNcBN2dJVYYRrF1yT5PIOScUKs0FjI2veLYhh1i1Q273xDHRSl5Dpe0V5tphdaOxifoOhdB12b9fskhG8LH0YkO/nE2wcDILjAD3wMht0d6Xj0hZCBKT7Uzh2ktSnzRwISnz89C/pXsTNBpDvyyOQYxC5rF0YkTHQdQ6wgNZ1gfKIixC8QqBcJ2xU524XTSai/USNJmzb3cBV0MPIUCP0FT2PyzFDc3EDTYXmAMFbeWZDLOFQLPot11bKPuyej/Qu43grtxgQlJiiVMEuz64xknKBX5uhzhWo74Bb18DwHsdxbkjwtautXVjZInh4VN6R6agbL9bC0chcxpfYulZVmCMxZB94KbgJ/LQWHGUGDwLORzJF0F04WUTvew5Y76urmvliw5vAAQZKun5p1mq6oVzlo4lfRtGcgNdp/EIegurygHrbaL3YdmuHmPdj7SBARD9EIcpyYZKmyFhOhHRBnUy0PTOWhOWu6BqSoAuDRmUoHEtTgEzartOMCnic3YBH3tVnjKZLo8X6mIQwCieJWyzYR8JpLZw7yMEXnMXrBcBT2rPxGnrQ8cYGOSjj/KwbD89w0CuOdUpR8HkWod0Z2+vS0Z4RDmey1lOxsK1zCPg3uUQzLo7DIOGAHOJ2NwOdiOYSe8PN32ZJiZAzmwB4bZb7ZSneL5VgAmi+nMvocwIolXnNum2VSOXnZWgSmLHAhmCwxiTqwwvLi/RADLJX0yls4XHS1kfcEdOcEbxlPmlyZSSk6afdM1lUWVeCZWmD/Dw8XTeoAOOe7Yj25IOzk3NZdNu5l+PzNqHIpVrViQLmIEfbsiAwaEEvfiWiP1YB288ewxR2cVXhnj2RUYey0Hw/LTlSWCABNL7V/gv5DMSbVsJy1M6Ir+g2bbr4VV5xJ06wGvOszo7ZfhkpmVbMD12mxwYwxDXu+sEIhs/k9e8rBHzcCJjT+fcw/XhfvG/NmwLAzD8VUZTrJ2hNjLR8O8P72/fh0hAOhf8tzRzZKsAIVH+agUbX0uXdmJLjgEZHe2TzGWzs1H1xGZXFoNkp8usIdwBdCtlWcvOGcHo6lvttcU6kLuanpuyYDSkTpZennHjV+e3vsnER6KmNRSYyl5WdM3BLR+jV/6qpKNTvbC+cIV/Y08ADhBwjGW1Derx1Qu6hzlalqVvlbyqoyYfS+o8W2sDJe8Hs4E0JAxyHlRurycNUcBHLmhCnXWJBsrbj4Jlwz6dWSVbafbTndoqvBCkHSElh5yNBuKH20VBTDE3BXIPhgAIL0wT6aHv0C+TofiMv7OfHRrPg0n2UZ9ICOA6Wvbq4W+4QVhI77fX4aZ1wp96Jf77epYK9YKhaBWNHl+d1Rrmx4ANmqRUCnnQTNnF/CGcvAAx3HnimqYTrdFlX0uBWVtQEuvljnGCsIvQGY/sGw0aITgvDR/+y4VCrViNtBN0/YwxhZbdFRl9dB88csGAWSftWP6u1YVGn3TmOYJAQcAQIQghK4vhQSd49qYvrgFa5hjP6Rj4QBAZGtQKZVU1dgf5m3bNin0I5gUNkV+jqFRVivTIgoS7qxgVD/mHKRZvD2tzwQdiPL6EbHHLCPZK5XzesYV/GLyrD52uvn3yTLHD41A85RS5t40GdGrlynNc9gzwsOMU7qnNNdLlZ6nEIQDkKEfnhhHYgolPfiLICznDzVpgZtZVijDUwDFUuLW45X7rx4+/e05298Z6D5WQbNs/aATtk0jVcaXhmWfVkHfXBzQjUfQLJ3z4tFPz578tbF+I4EAgLFOPFs7/dcp+Ad1AJJ4uMwz+MU6EcIoZkqALwvwzGp4EZXBxkryxvKzBEEYFDWvHzTdw1bLPRwnw70KgAOgwAx+/ryyu7u39+XL2trabYoVxNJsZ27I41ivBs7J+8N3nWE5MAQDz1MUWZ5eHXASKACZQw6gWIO66Wqn2b2cAfxbChev15hLcx/QnwGlawHeffmyt7e7u/HZU45qDgDCI/VzqeBXOpw0Ro65XyIYCNrg+3i5lqDh/lNQEJwgy0NplglDlHCY8i0riuVNr07DzAjF/y16QGwiJndce7W+xExwAMWd0ycgkNV9U+8Hsen25uZqgDfBnzdvXr789OlriOi0DDd+ff8uUPq//E8Y9jmsTnTxak6SAmdNG3f8ajolisJJiKKYSlfn8P2Ottg7bRF0K9YP899Ate/e//zr9sddxLZNdRSQDwJaKcGU5ilabjPj6HYgWyhJbIc9Ama/Aa6v/MR7OdMKAufbooKTKc3+nM306YSn01V/rGWLNek0nztpY+Zx8KZ37Y+ftz98LQ8UMr/jQsWvLQC1LU4RPvEUKdcCcvSiTPoqYEMQNlc/3d3Z2nr9YfvnP9ZikPadDUTnWMaHtMcCujHw/Hpra+fup9XNgENK33zjWHF4zHNEGRSuhysSG5U0/52QrFR29/jz/GgJSJcpmj9cQPwf3rfXft/+sPX27ptNSpzQagTGQJ+68woejJnzDkNhIUwAef9g0hrZCoDnisfmMJUSA22/uft268P272u3eZ55TwGwY1O01LAAPn9gZ+bNM6WGqVYnABXdbTX1EoCSEYUFaFWwlQ2ZmJKdt21Td/ojt725GgPP9xEQ5rZzx6EC6CvXM99+//H1zstVIUzv3Ay3S0Ays4dAGZAuCguZnjbGEQIYwDoQozd9Slh9ufP64/vb3M5sEgCjGov5qLUMBFBpiuzMXHmOwqbWFhFEwwemsBhlDN1Zh34eg55iv1csPL9VAaDX78RCc/FAoddRmt+Z17Z3VsWI58OEaFNrqxUkKSsYCKzmYkGLE0NBML381O6CvxbQLa7ubK/xObPYtglgRRc0GnXmCKkzUgkGqDdF3mcWFqNfIZQ+IAO9LSyEqAMofT/4RWqdAwJyQ4yZ59TEIABg6UKNJ8nJb1Kx2lUBoOSK/M787u6ZHAtiYwBAvLpRDtgGlBfORFMP4o37ZqYlnAVR/I9983lNHIji+N4ET0uuHgJiocK2q9KjGxxMohu0pmmlSQxsfoybtDVa///LvpdxVll1A3WUHuZz6KFI+PQ7w7zOe1FpC3KmEwMS0TNzCjXXSiPPW+cJ1fDeh/e93+/j8Xg0emajlv4bcM/4eYj7tz5+kSF/mjnFdfgxF+tcRv7yaM/sx8X6/59y0Q1WxHWghiwvkDN9crsYs/sQDfE1tbdj+TEg5X4fxyi/np9Ho/H4HS+OxQ0dHpXknhfFqwXcb20XF68784ggZ0TVhiVBL3zecIQVTrSSrbr9eRwy1FRhzlbY4368R6TrBjaJfP81y4LAdd0wDE3TnCE2Yw4sl9Ndlsu5jd3/wOkVz3LmqUbEO5fnR0ryI7HZ/duVNnNyiZy9iVu0CbpGEEKSkN9eeIjNmAEmEIYQfhBk2Sv0UR3e4uvyrgyL+SEhwpyRWqukEpJ46jrgYQTLVDsNXldaNXHOhC7mLjZlOD9OBYefhjmJNHIOZwEQ+mT6OgwD/BB2w0VyJiRZzLOemHQ5Pf3VnHiEiHRG6tdXSoVduY8dG15qWTE9bTlYw6OiXF3Xvwh0RqhnvUBPZgpnLJ4MoQsExcngw8kAGAydsTsG2NID8Gj3M3P64oHuGZ1P3tLaegUrkmvkcjkPSGI9mIFfHLR72XF0hsFwAKyUWCo3tRIrpT2fYl/GihOwFe6MfG1X4TarNBuD4XCzS/ZboB/bxeiKT200lda3u2obrrHinRHeBNtCaZIkeb72CiIgjuM0TVeAdYg0jiIPdgn6ljiLy/ljkILL50wo/g+cHsxvBUC8EHKEeMh6nedJQindlx8whDtvuWXtfuz2NysNwnYJQjjlEXNR9tc3Kk2crbDRCuv4n9+ZS5exTXSXAfRy/3WWOe86f68QHLXuRMbty+HKwp3LJ1kqzmNxmNW6URRIvomT2EaD14fhBl5BcUJbjMDhwzctHA/eXdeq6tEJoXSWztz58twW78m06/VOR1XVKlLbUEXgl51Ovd7G95RA8lMgnQ8inSUSiUQikUj+sAcHAgAAAABA/q+NoKqqqqqqqirtwQEJAAAAgKD/r/sRKgAAAAAAAABHAaitdm0Ug9TIAAAAAElFTkSuQmCC');
        background-size: 240px;
        background-position: center;
        background-position-x: 0;

        &.is-loading {
          animation: refresher-animation 320ms steps(1) infinite alternate;
        }
      }
    }
  }

  &__shim {
    &__list {
      width: 100%;
      height: 100%;
    }

    &__ref,
    &__top,
    &__btm,
    &__get {
      position: absolute;
      left: 0;
      right: 0;
      background-color: transparent;
      pointer-events: none;
    }

    &__ref {
      top: 0;
      height: 1px;
    }

    &__get {
      bottom: 0;
      height: 1px;
    }

    &__top {
      top: 0;
    }

    &__btm {
      bottom: 0;
    }

    &__left,
    &__right {
      position: absolute;
      top: 0;
      bottom: 0;
      background-color: transparent;
      pointer-events: none;
    }

    &__left {
      left: 0;
    }

    &__right {
      right: 0;
    }
  }
}
