$sliding-drawer-widget-height: 25px;

.v-sliding-drawer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  user-select: none;
  touch-action: none;
  pointer-events: none;
  overflow: hidden;
  z-index: $--z-index-drawer;

  &__wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    left: 0;
    bottom: 0;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    position: absolute;
    transform: translateY(0);
    pointer-events: auto;
    box-sizing: content-box;
    will-change: transform;
    z-index: $--z-index-overlay;
    @include nightMode('background', #fff);

    &--cancel {
      transition: transform 0.4s;
    }
  }

  &__widget {
    position: relative;
    flex-shrink: 0;
    height: $sliding-drawer-widget-height;
    width: 100%;
    z-index: 1;
    @include nightMode('background', #fff);
  }

  &__bar {
    padding-top: 8px;
    padding-bottom: 13px;

    &::after {
      content: '';
      width: 48px;
      height: 4px;
      border-radius: 2px;
      display: block;
      margin: 0 auto;
      @include nightMode('background', #e7e7e7);
    }
  }

  &__header,
  &__footer {
    width: 100%;
    flex-shrink: 0;
  }

  &__content {
    position: relative;
    z-index: 0;
    flex: 1;
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
  }

  &--transition {
    &-enter,
    &-leave-to {
      transform: translateY(100%) !important;
    }

    &-enter-active,
    &-leave-active {
      transition: transform 0.4s cubic-bezier(0.36, 0.66, 0.04, 1);
    }
  }
}
