.v-swipe {
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
  transform: translateZ(0);
  height: 120px;

  &__wrap {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;

    &:first-child {
      z-index: 2;
    }

    > * {
      width: 100%;
      height: 100%;
    }
  }

  &__indicator {
    position: absolute;
    right: 8px;
    bottom: 8px;
    z-index: 3;
    pointer-events: none;

    &__item {
      display: inline-block;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      margin-left: 4px;
      @include nightMode('background', #fff);

      &.is-active {
        @include nightMode('background', $--color-primary);
      }
    }
  }
}
