.v-toast {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 80%;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  box-sizing: border-box;
  text-align: center;

  &__wrap {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    z-index: $--z-index-toast;
  }

  &__mask {
    pointer-events: none;
  }

  &__font {
    display: block;
    text-align: center;
    font-size: 56px;
  }

  &--info {
    max-width: 240px;
    padding: 10px;
  }

  &--success .v-toast__font:before {
    content: '\e635';
  }

  &--error .v-toast__font:before {
    content: '\e658';
  }

  &--loading .v-toast__font {
    color: #ffffff;
    font-size: 30px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 16px auto;
    position: relative;
    transform: translateZ(0);
    animation: v-toast-loading 1.7s infinite ease;
  }

  &--success,
  &--error,
  &--loading {
    padding: 15px;
    width: 122px;

    .v-toast__text {
      padding-top: 10px;
    }
  }

  &__text {
    font-size: 12px;
    display: block;
    text-align: center;
    @extend %word-break;
  }

  &__transition-enter-active,
  &__transition-leave-active {
    transition: opacity 0.25s;
  }
  &__transition-enter,
  &__transition-leave-active {
    opacity: 0;
  }

  @include keyframes(v-toast-loading) {
    0% {
      transform: rotate(0deg);
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
      transform: rotate(360deg);
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
  }
}
